.__slovnyk {
  border-bottom: 2px dashed red;
  position: relative;
}
.__slovnyk__tooltip {
  position: absolute;
  top: 0;
  display: none;
  padding: 4px 8px;
  background: lightgreen;
  color: black;
  border: 1px solid darkgreen;
  border-radius: 5px;
  transform: translateY(-100%);
}
.__slovnyk:hover .__slovnyk__tooltip {
  display: block;
}
